{% extends "base.html" %}

{% block pageBase %}

<style>
  table,th,td{border: 1px solid rgb(100, 100, 100);}
  
</style>

<table width="60%">
  <tr>
  <th>Date</th>
  <th>Transaction</th>
  <th>Amount</th>
  <th>Actions</th>
  </tr>
  {% for items in data %}
  <tr>
    <td>{{ items[1] }}</td>
    <td>{{ items[2] }}</td>
   
    <td
      {% if items[3] | float > 0 %}
        style="background-color: lightgreen;"
      {% else %}
        style="background-color: lightcoral;"
      {% endif %}
    >   {{ items[3] }} $ </td>
    <td><a style="color: aliceblue;" href="/update/{{ items[0] }}"><button type="button" class="btn btn-info">Modify</button></a><a style="color: aliceblue;" href="/delete/{{ items[0] }}"> <button type="button" class="btn btn-danger">Delete</button></a></td>  
    
  </tr>
{% endfor %}
   
</table>

{% endblock %}
