{% extends "base.html" %}

{% block pageBase %}

<h1>Vista para actualizar registros</h1>

<section>
    <form method="POST" >
    <label for="Date">Date:</label><br>
    <input type="date"  name="Date" value="{{ datos[1] }}" ><br>
    <label for="Transaction">Transaction:</label><br>
    <input type="text"  name="Transaction" value="{{ datos[2] }}" ><br>
    <label for="Amount">Amount:</label><br>
    <input type="number"  name="Amount" value="{{ datos[3] }}"><br><br>
    <input type="submit" value="Save">
    </form> 
</section>

{% for item in error %}
  <p style="color: red;">{{item}}</p>
{% endfor %}

{% endblock %}