<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending</title>
</head>
<style>
  table,th,td{border: 1opx solid rgb(100, red, blue);}
  footer {
    position: fixed;          /* Fija el footer a la ventana */
    left: 0; right: 0; bottom: 0;  /* Lo pega al borde inferior */
    height: 50px;             /* Altura conocida del footer */
    background: #ddd; padding: 1rem;
  }
</style>
<body>

  <header>
    <h1 style="width: 80%;">Aplicacion Web de control de gastos</h1>
    <div>
      <button style="background-color:aquamarine"> <a style="font-size: large;" href="/">Inicio</a></button>
      <button style="background-color:aquamarine"><a style="font-size: large;" href="/new">Nuevo Registro</a></button>
      <!--<button style="background-color:aquamarine"><a style="font-size: large;" href="/update">Actualizar Registro</a></button>
      <button style="background-color:aquamarine"><a style="font-size: large;" href="/delete">Borrar Registro</a></button>-->
    </div>
  </header>






  <section>
    {% block pageBase %}

    

    {% endblock %}
  </section>
  <footer >
    <p>Creado por Dmytro Shalupnya.</p>


  </footer>
 
</body>
</html>