<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending</title>
</head>
<style>
  table,th,td{border: 1opx solid rgb(100, red, blue);}

</style>
<body>

  <header>
    <h1>Aplicacion Web de control de gastos</h1>
    <div>
      <a href="/">Inicio</a>
      <a href="/new">Nuevo Registro</a>
      <a href="/update">Actualizar Registro</a>
      <a href="/delete">Borrar Registro</a>
    </div>
  </header>






  <section>
    {% block pageBase %}

    

    {% endblock %}
  </section>
  <footer>
    <p>Creado por Dmytro Shalupnya.</p>


  </footer>
 
</body>
</html>