<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending</title>
</head>
<body>
    <h1>Esto es una lista de ingresos y gastos</h1>
    <table>
  <tr>
    <th>Date</th>
    <th>Transaction</th>
    <th>Amount</th>
  </tr>
  <tr>
    <td>12/09/25</td>
    <td>Compra</td>
    <td>129.90 kr</td>
  </tr>
  <tr>
    <td>13/09/25</td>
    <td>Compra</td>
    <td>10.90 kr</td>
  </tr>
  <tr>
    <td>15/09/25</td>
    <td>Compra</td>
    <td>9.90 kr</td>
  </tr>
</table>
<button> <a href="/new">New</a>Nuevo registro</button>
</body>
</html>