<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending: New</title>
</head>
<body>
    <h1>Nuevo Registro de Transaccion</h1>
    <form>
        <label for="date">Date:</label><br>
        <input type="date" id="tdate" Date="tdate" ><br>
        <label for="Transaction">Transaction:</label><br>
        <input type="text" id="Transaction" name="Transaction" ><br><br>
        <label for="Amount">Amount</label><br>
        <input type="number" id="Amount" name="Amount" ><br><br>
        <input type="button" value="Save">
    </form> 


</body>
</html>